.welcome {
    flex-direction: row;
}

.welcome div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
}

.welcome .side-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 50px;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {
    .welcome .side-image {
        display: none;
    }
}




