.card {
    position: relative;
    width: 210px;
    height: 310px;
    font-size: 14px;
    margin: 20px;
}

.card::before {
    position: absolute;
    top: -15px;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    border-bottom: 2px solid #6A6969;
    background-image: linear-gradient(to bottom, transparent 15%, #6A6969 60%), linear-gradient(to bottom, transparent 15%, #6A6969 60%);
    background-size: 2px 100%;
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
}

.card h1,
.card p {
    padding: 0 15px;
    color: #6A6969;
}

.card img {
    width: 200px;
}

.card h1 {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
}

.card p {
    font-size: 14px;
    margin: 0 0 15px 0;
}

.card .qty {
    position: absolute;
    bottom: 0;
    left: 8px;
    display: flex;
    flex-direction: column;
    width: 190px;
    height: 60px;
    background-color: #fffbba;
    border: 2px solid #6A6969;
}

.card .shop-counter {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 60px;
    margin-left: 8px;
    margin-top: 10px;
    border: 2px solid #6A6969;
    background-color: #FFFBBA;
}

.card .shop-counter p {
    text-align: center;
    padding-top: 5px;
    margin: -5px 0 5px 0;
    color: #95989A;
}


