.contact {
    display: flex;
    flex-direction: row;
    padding: 35px 50px 25px 50px;
}

.contact p:nth-of-type(4) a {
    color: #df5277;
    text-decoration: none;
    cursor: pointer;
}

.contact .contact-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {
    .contact {
        flex-flow: row wrap;
        padding: 35px 25px 50px 25px;
    }

    .contact .contact-image {
        display: none;
    }
}



