.footer {
    display: flex;
    flex-direction: column;
    height: 80px;
    background: #df5277;
}

.footer .connect {
    flex-grow: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.footer .connect .info-ctr {
    flex: 1 1 33.33%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.footer .connect .info-ctr.social-media .img-ctr{
    margin-right: 5%;
}

.footer .connect .info-ctr.social-media .text-ctr{
    margin-right: 3%;
}

.footer .connect .img-ctr {
    display: flex;
    margin-right: 3%;
}

.footer .connect .text-ctr a {
    color: #fff;
    text-decoration: none;
}

.footer .copyright {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    color: #fff;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {
    .footer {
        font-size: 12px;
    }

    .footer .connect {
        margin-top: 5px;
    }

    .footer .copyright {
        margin-top: -10px;
        justify-content: center;
    }
}
