.header {
    display: flex;
    flex-flow: row nowrap;
    background: #fffabe;
    height: 72px;
}

.logo-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 235px;
}

.navbar {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    color: #515151;
}

.navbar ul {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 0;
    list-style-type: none;
}

.navbar ul li {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar ul li a {
    color: #515151;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

.navbar ul li:hover a {
    color: #d42551;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {
    .header {
        flex-flow: row wrap;
    }

    .logo-ctr {
        margin-top: 10px;
        width: 100%;
    }

    .navbar {
        margin-top: -5px;
        padding: 0;
    }

    .navbar ul li a {
        font-size: 10px;
    }
}
